*{
  margin: 0;
  padding: 0;
}

body{
  background-color: snow;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}


/* ヘッダー */
header{
  width: 100%;
  height: 300px;
  /* background-color:rgb(120, 182, 133) ;
  background-image: url(../img/sima.jpg) ;
  background-size: cover;
  background-position: center;*/
  background: center/cover rgba(183, 238, 215, 0.5) url(../img/1004473_top.jpg);
  background-repeat: no-repeat;
}

header h1,
header p{
  margin: 0;
}

h1{
  text-align: center;
  font-size: 70px;
  padding-top: 50px;
  font-family: "Comic Sans MS";
  font-style: italic;
}


/* メイン */
.info{
  border: 4px solid black;
    border-radius: 240px 15px 185px 15px / 15px 200px 15px 185px;
    margin: 2em 0;
    padding: 2em;

}

main{
  width: 100%;
  height: 100%;
  background-color:  #ffffff;
  overflow: hidden;
  text-align: center;
}

main img{
  width: 150px;
  height:  150px;
  border-radius: 50px;
  cursor: pointer;
  padding: 0.2em 0.5em;
  margin: 2em 0;
  background: #043766;
  box-shadow: 0px 0px 0px 10px #043766;
  border: dashed 2px white;
}



/* フッター */
footer{
  width: 100%;
  background: center/cover rgba(183, 238, 215, 0.5) url(../img/1004473_botton.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

p{
  padding-top: 60px;
  text-align: center;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  font-family: "Comic Sans MS";
}











/* .btn{
  text-decoration: none;
  width: 200px;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 3px;
}

.btn:hover{
  opacity: 0.5;
} */
