*{
  margin: 0;
  padding: 0;
}

body{
  background-color: snow;
  margin: 0 auto;
}


/* ヘッダー */
header{
  /* width: 100%; */
  height: 300px;
  /* background-color:rgb(120, 182, 133) ;
  background-image: url(../img/sima.jpg) ;
  background-size: cover;
  background-position: center;*/
  background: center/cover rgba(255, 255, 255, 0.8) url(../img/1004473_top.jpg);
  background-repeat: no-repeat;
}

header h1,
header p{
  margin: 0;
}

h1{
  text-align: center;
  font-size: 70px;
  padding-top: 50px;
  font-family: "Comic Sans MS";
  font-style: italic;
}

/* メイン　メニューバー */

.menu ul li{
  display: inline-block;
  margin:  0 20px;
  position: relative;
  list-style: none;
  line-height: 30px;
  height: 30px;
  color: black;
}

.menu li{
  text-decoration: none;
}

.menu li:hover{
  opacity: 0.5;
  text-decoration: underline;
}

.menu{
  width: 900px;
  margin: auto;
}

.menu ul{
  height: 30px;
  margin: 15px auto 20px;
  border-top: 2px solid silver;
  border-bottom: 2px solid silver;
  font-weight: bolder;
}


/* メイン  info */

dl.info_1{
  padding: 0;
  line-height: 1.8;
  width: 40%;
  margin: 0 auto;
}

dl.info_1 dt{
  width: 6em;
  float: left;
  margin: 0;
  padding: 0 0 0 5px;
}

dl.info_1 dd{
  margin: 0 0 10px;
  padding: 0 5px 10px 8em;
  border-bottom: 1px dotted #cccccc;
}

.info > p{
  font-size: 20px;
  font-weight: bolder;
}


/* メイン セクション */

main{
  /* width: 100%; */
  background-color:  #ffffff;
  overflow: hidden;
  text-align: center;
}

main h1{
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 10px;
}

main p{
  padding: 5px;
}

main img{
  width: 150px;
  height:  150px;
  border-radius: 50px;
  cursor: pointer;
  padding: 0.2em 0.5em;
  margin: 2em 0;
  background: #043766;
  box-shadow: 0px 0px 0px 10px #043766;
  border: dashed 2px white;
}

main img:hover{
  opacity: 0.5;
}

/* メインbox */

.mein_box{
  text-align: center;
  /* width: 900px; */
  margin: 20px;
  font-family: "Comic Sans MS";
}

.box{
  /* float: left; */
  display: inline-block;
  width: 300px;
  height: 350px;
  text-align: center;
}

.box_top::after{
  content: "";
  display: block;
  clear: both;
}

.box_bottom::after{
  content: "";
  display: block;
  clear: both ;

}

.box_title{
  font-size: 25px;
  font-weight: bold;
}

.box_info{
  font-size: 20px;
}

/* フッター */
footer{
  /* width: 100%; */
  background: center/cover rgba(255, 255, 255, 0.8) url(../img/1004473_botton.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 60px;
  text-align: center;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  font-family: "Comic Sans MS";
}
