*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #ffffff;
  font-family: "Comic Sans MS";
}

/* ヘッダー */
header{
  text-align: center;
  background: center/cover rgba(255, 255, 255, 0.8) url(../../img/1004473_top_1.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

/* メイン */
main{
  width: 550px;
  margin: 0 auto;
}

main h2{
  text-align: center;
  padding-bottom: 30px;
}

main p{
  padding-bottom: 3px;
}

/* フォーム */
form{
  font-size: 20px;
  margin-top: 30px;
}

.item{
  overflow: hidden;
  margin-bottom: 30px;
}

.label{
  float: left;
  width: 200px;
  border-left: solid 5px darkblue;
  padding-left: 15px;
  margin-left: 65px;
}

textarea{
  resize: both;
}

.radio_vertical{
  flex-direction: column;
  display: inline-flex;
}

/* アンケート */
.q{
  padding: 0.5em  0.5em;
  text-decoration: none;
  color: darkblue;
  border: dashed 2px  darkblue;
  background: #ffffff;
  border-radius: 10px;
  margin-bottom: 25px;
  width: 400px;
  margin-left: 60px;
}

/* ボタン */
.btn{
  text-align: center;
  margin-bottom: 30px;
  margin-left: 5px;
}

.btn_1{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: darkblue;
  border: dashed 1px  darkblue;
  background: #ffffff;
  border-radius: 3px;
  transition: .4s;
  padding-right: 5px;
  padding-left: 5px;
}

.btn_1:hover{
  background-color: rgb(87, 121, 233);
  color: black;
  border-style: dotted;
}

/* フッター */
footer{
  background: center/cover rgba(255, 255, 255, 0.8) url(../../img/1004473_botton_1.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 60px;
  text-align: center;
}

a:link{ color: black;}
a:visited { clear: black;}

footer a{
  font-size: 25px;
  font-weight: bolder;
}

/*メディアクリー */
@media screen and (max-width:650px){
  header{
    height: 200px;
  }

  main{
    /* width: 400px; */
    /* width: 350px; */
    width: 80%;
  }

  main > p{
    font-size: 14px;
  }

  form{
    font-size: 15px;
    font-size: 13px;
  }

  .label{
    /* margin-left: 10px; */
    margin-left: 5px;
    padding-left: 10px;
  }

  textarea{
    /* width: 150px; */
    width: 100px;
    height: 80px;
  }

  .label{
    /* width: 150px; */
    width: 130px;
    width: 86px;
    margin-left: 15px;
    font-size: 10px;
  }

  .q{
    width: 260px;
    margin-left: 0;
  }

  footer a{
    font-size: 20px;
  }
}