*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #ffffff;
  font-family: "Comic Sans MS";
}


/* ヘッダー */
header{
  text-align: center;
  background: center/cover rgba(255, 255, 255, 0.8) url(../../img/1004473_top_1.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

/* メイン */
main{
  width: 550px;
  margin: 0 auto;
}

main h2{
  text-align: center;
  padding-bottom: 30px;
}

main p{
  padding-bottom: 3px;
}

/* フォーム */
form{
  width: 500px;
  font-size: 20px;
  margin-top: 30px;
  /* text-align: center; */
}

.item{
  overflow: hidden;
  margin-bottom: 30px;
}

.label{
  float: left;
  width: 200px;
  border-left: solid 5px darkblue;
  padding-left: 15px;
  margin-left: 30px;
}

textarea{
  resize: both;
}

.radio_vertical{
  flex-direction: column;
  display: inline-flex;
}

/* アンケート */
.q{
  padding: 0.5em 0.5em;
  text-decoration: none;
  color: darkblue;
  border: dashed 2px  darkblue;
  background: #ffffff;
  border-radius: 10px;
  margin-bottom: 25px;
  font-size: 20px;
}




/* ボタン */
form .btn{
  text-align: center;
  margin-bottom: 30px;
}

form .btn_1{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: darkblue;
  border: dashed 1px  darkblue;
  background: #ffffff;
  border-radius: 3px;
  transition: .4s;
}

form .btn_1:hover{
  background-color: rgb(195, 222, 233);
  color: black;
  border-style: dotted;
}




/* フッター */
footer{
  background: center/cover rgba(255, 255, 255, 0.8) url(../../img/1004473_botton_1.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 60px;
  text-align: center;
}

a:link{ color: black;}
a:visited { clear: black;}

footer a{
  font-size: 25px;
  font-weight: bolder;
}