*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #ffffff;
  text-align: center;
  font-family: "Comic Sans MS";
}

/* ヘッダー */

header{
  background: center/cover rgba(255, 255, 255, 0.8) url(../../img/1004473_top_1.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

h1{
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 50px;
}

p{
  font-size: 30px;
  font-weight: bold;
}


/* メイン */

body img{
  width: 250px;
  height: 200px;
  /* margin: 20px; */
}

h2{
  font-size: 20px;
}

p{
  font-size: 20px;
  margin: 0px;
}

/* メインボックス */
.main_box{
  margin: 0 20px;
  text-align: center;
}

.box{
  display: inline-block;
  text-align: center;
  width: 300px;
  height: 300px;
  margin: 0 10px;
  margin-bottom: 50px;
}

.box_top::after{
  content: "";
  display: block;
  clear: both;
}

.box_bottom::after{
  content: "";
  display: block;
  clear: both ;
}


/* フッター */
footer{
  background: center/cover rgba(255, 255, 255, 0.8) url(../../img/1004473_botton_1.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 60px;
}

a{
  font-size: 20px;
  font-weight: bolder;
}

a:link{ color: black;}
a:visited { clear: black; }