*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #ffffff;
  text-align: center;
  font-family: "Comic Sans MS";
}

/* ヘッダー */
header{
  background: center/cover rgba(255, 255, 255, 0.8) url(../../img/1004473_top_1.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

h1{
  padding-top: 60px;
  font-size: 50px;
}

/* メイン */
main > p{
  padding-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
}

body img{
  width: 250px;
  height: 200px;
}

h2{
  font-size: 20px;
  padding-top: 10px;
}

p{
  font-size: 20px;
  margin: 0px;
}

/* メインボックス */
.main_box{
  margin: 0 20px;
  text-align: center;
}

.box{
  display: inline-block;
  text-align: center;
  width: 300px;
  height: 300px;
  margin: 0 10px;
  margin-bottom: 50px;
}

.box_top::after{
  content: "";
  display: block;
  clear: both;
}

.box_bottom::after{
  content: "";
  display: block;
  clear: both ;
}

/* フッター */
footer{
  background: center/cover rgba(255, 255, 255, 0.8) url(../../img/1004473_botton_1.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 60px;
}

a:link{ color: black;}
a:visited { clear: black;}

footer a{
  font-size: 25px;
  font-weight: bolder;
}

@media screen and (max-width:650px){
  /* ヘッター */
  header h1{
    font-size: 45px;
  }

  header{
    height: 200px;
  }

  /* メイン ナビ*/
  main > p{
    font-size: 16px;
  }

  .box{
    display: block;
    margin:  auto;
    margin-bottom: 25px;
    width: auto;
    height: auto;
  }

  /* フッター */
  footer a{
    font-size: 20px;
  }
}

@media screen and (min-width:650px) and (max-width:985px){
  /* ヘッター */
  header h1{
    font-size: 50px;
  }

  header{
    height: 250px;
  }

  .box{
    display: block;
    margin:  auto;
    margin-bottom: 25px;
    width: auto;
    height: auto;
  }
}